<div class="account-container">
	{{#if user}}
		<div class="display-info" id="account-info">
			{{#if edit}}
				<form method="post" class="display-info" id="account-info-form">
					<div class="account-name info">
						<p class="title">Name:</p>
						<input type="text" class="info-input" name="surname" autocomplete="off" maxlength="{{surnameLength}}"
							{{#if_eq user.surname ''}} placeholder="No Surname"
							{{else}} value="{{user.surname}}" {{/if_eq}}>
						<input type="text" class="info-input" name="name" autocomplete="off" maxlength="{{nameLength}}"
							{{#if_eq user.name ''}} placeholder="No Name"
							{{else}} value="{{user.name}}" {{/if_eq}}>
					</div>
					<div class="account-fulltime info">
						<p class="title">Occupation:</p>
						<input type="radio" id="parttime-radio" name="fulltime" class="info-input"
							{{#if_eq user.fulltime false}} checked {{/if_eq}} value="false" >
						<label for="parttime-radio">Part Time</label>
						<input type="radio" id="fulltime-radio" name="fulltime" class="info-input"
							{{#if_eq user.fulltime true}} checked {{/if_eq}} value="true">
						<label for="fulltime-radio">Full Time</label>
					</div>
					<div class="account-startyear info">
						<p class="title">Start Year:</p>
						<select id="date-dropdown" name="startYear"></select>
					</div>
					<div class="account-info info">
						<p class="title">Custom Info:</p>
						<textarea class="info-input" name="info" placeholder="No Custom Info" maxlength="{{customInfoLength}}">{{user.custom_info}}</textarea>
					</div>
				</form>
			{{else}}
				<div class="account-name info">
					<p class="title">Name:</p>
					{{#if_eq user.surname ''}}
						<p class="info-value">No Name Saved</p>
					{{else}}
						<p class="info-value">{{user.surname}} {{user.name}}</p>
					{{/if_eq}}
				</div>
				<div class="account-email info">
					<p class="title">Email:</p>
					<p class="info-value">{{user.email}}</p>
				</div>
				<div class="account-fulltime info">
					<p class="title">Occupation:</p>
					{{#if user.fulltime}}
						<p class="info-value">Full Time</p>
					{{else}}
						{{#if_eq user.fulltime null}}
							<p class="info-value">No Info</p>
						{{else}}
							<p class="info-value">Part Time</p>
						{{/if_eq}}
					{{/if}}
				</div>
				<div class="account-startyear info">
					<p class="title">Start Year:</p>
					{{#if_eq user.start_year null}}
						<p class="info-value">Not defined</p>
					{{else}}
						<p class="info-value">{{user.start_year}}</p>
					{{/if_eq}}
				</div>
				<div class="account-info info">
					<p class="title">Info:</p>
					{{#if_eq user.custom_info ''}}
						<p class="info-value">No Custom Info</p>
					{{else}}
						<p class="info-value">{{user.custom_info}}</p>
					{{/if_eq}}
				</div>
			{{/if}}
		</div>
		<div class="profile-picture">
			{{#if_eq user.profile_picture_path null}}
				<img src="/images/default-pic.jpg">
			{{else}}
				<img src="{{profile_picture_path}}">
			{{/if_eq}}
		</div>
		{{#if isOwnProfile}}
			<div class="account-interaction">
				{{#if edit}}
					<form method="post" action="/account/update">
						<button type="submit" class="account-edit" form="account-info-form" formaction="/account/update" class="center">Save</button>
					</form>
					<form action="/account">
						<button type="submit" class="account-edit" class="center">Return</button>
					</form>
				{{else}}
					<form method="get" action="/account/edit">
						<button type="submit" class="account-edit" id="account-edit-btn" class="center">Edit</button>
					</form>
				{{/if}}
			</div>
		{{/if}}
	{{else}}
		<h3>ERROR</h3>
	{{/if}}
</div>
<script type="text/javascript" src="/js/account-script.js" defer></script>
