<h1>Account</h1>
<div class="account-container">
	{{#if user}}
		<div class="display-info" id="account-info">
			{{#if edit}}
				<form class="display-info" id="account-info-form">
					<div class="account-name">
						<p>Name:</p>
						<input type="text" class="info-input" name="surname"
							{{#if_eq user.surname ''}} placeholder="No Surname"
							{{else}} value="{{user.surname}}" {{/if_eq}}>
						<input type="text" class="info-input" name="name" ¨
							{{#if_eq user.name ''}} placeholder="No Name"
							{{else}} value="{{user.name}}" {{/if_eq}}>
					</div>
					<div class="account-fulltime">
						<p>Occupation:</p>
						<input type="radio" id="parttime-radio" name="occupation" class="info-input"
							{{#if_eq user.fulltime false}} checked {{/if_eq}} value="false" >
						<label for="parttime-radio">Part Time</label>
						<input type="radio" id="fulltime-radio" name="occupation" class="info-input"
							{{#if_eq user.fulltime true}} checked {{/if_eq}} value="true">
						<label for="fulltime-radio">Full Time</label>
					</div>
					<div class="account-startyear">
						<p>Start Year:</p>
						<select id="date-dropdown" name="startyear"></select>
					</div>
					<div class="account-info">
						<p>Info:</p>
						<textarea class="info-input"
							{{#if_eq user.custom_info ''}} placeholder="No Custom Info"
							{{else}} value="{{user.custom_info}}" {{/if_eq}}></textarea>
					</div>
				</form>
			{{else}}
				<div class="account-name">
					<p>Name:</p>
					{{#if_eq user.surname ''}}
						<p>No Name Saved</p>
					{{else}}
						<p>{{user.surname}} {{user.name}}</p>
					{{/if_eq}}
				</div>
				<div class="account-email">
					<p>Email:</p>
					<p>{{user.email}}</p>
				</div>
				<div class="account-fulltime">
					<p>Occupation:</p>
					{{#if_eq user.fulltime false}}
						<p>Part Time</p>
					{{/if_eq}}
					{{#if_eq user.fulltime null}}
						<p>No Info</p>
					{{else}}
						<p>Full Time</p>
					{{/if_eq}}
				</div>
				<div class="account-startyear">
					<p>Start Year:</p>
					{{#if_eq user.start_year null}}
						<p>Startyear not defined</p>
					{{else}}
						<p>{{user.start_year}}</p>
					{{/if_eq}}
				</div>
				<div class="account-info">
					<p>Info:</p>
					{{#if_eq user.custom_info ''}}
						<p>No Custom Info</p>
					{{else}}
						<p>{{user.custom_info}}</p>
					{{/if_eq}}
				</div>
			{{/if}}
		</div>
		<div class="profile-picture">
			{{#if_eq user.profile_picture_path null}}
				<img src="/images/default-pic.jpg">
			{{else}}
				<img src="{{profile_picture_path}}">
			{{/if_eq}}
		</div>
		<div class="account-interaction">
			{{#if edit}}
				<form method="post" action="/account/wherever">
					<button type="submit" class="account-edit" form="account-info-form" formaction="/account/wherever" class="center">Save</button>
				</form>
				<form action="/account">
					<button type="submit" class="account-edit" class="center">Return</button>
				</form>
			{{else}}
				<form method="get" action="/account/edit">
					<button type="submit" class="account-edit" id="account-edit-btn" class="center">Edit</button>
				</form>
			{{/if}}
		</div>
	{{else}}
		<h3>ERROR</h3>
	{{/if}}
</div>
<script type="text/javascript" src="/js/account-script.js" defer></script>
