<div class="account-container">
	{{#if user}}
		<div class="display-info" id="account-info">
			<div class="account-name content-box">
				<h3>Name:</h3>
				{{#if_eq user.surname ''}}
					<p>No Name Saved</p>
				{{else}}
					<p>{{user.surname}} {{user.name}}</p>
				{{/if_eq}}
			</div>
			<div class="account-email content-box">
				<h3>Email:</h3>
				<p>{{user.email}}</p>
			</div>
			<div class="account-fulltime content-box">
				<h3>Occupation:</h3>
				{{#if user.fulltime}}
					<p>Full Time</p>
				{{else}}
					{{#if_eq user.fulltime null}}
						<p>No Info</p>
					{{else}}
						<p>Part Time</p>
					{{/if_eq}}
				{{/if}}
			</div>
			<div class="account-startyear content-box">
				<h3>Start Year:</p>
				{{#if_eq user.start_year null}}
					<p>Not defined</p>
				{{else}}
					<p>{{user.start_year}}</p>
				{{/if_eq}}
			</div>
			<div class="account-info content-box">
				<h3>Custom Info:</p>
				{{#if_eq user.custom_info ''}}
					<p>We know nothing about this user.</p>
				{{else}}
					<p>{{user.custom_info}}</p>
				{{/if_eq}}
			</div>
		</div>
		<div class="account-interaction">
			<div class="profile-picture">
				{{#if_eq user.profile_picture_path null}}
					<img src="/images/default-pic.jpg">
				{{else}}
					<img src="{{profile_picture_path}}">
				{{/if_eq}}
			</div>
		{{#if isOwnProfile}}
			<div class="overlay"></div>
			<form method="get" action="/account/edit">
				<button type="submit" class="account-edit-button ost-button" id="account-edit-btn" class="center">Edit</button>
			</form>
			<button id="delete-account-button" data-modal-target="#delete-user-modal" class="account-edit-button dangerous-button" class="center">Delete</button>
			<div class="modal" id="delete-user-modal">
				<div class="modal-header">
					<div class="title">Delete User</div>
					<button data-close-button class="close-button">&times;</button>
				</div>
				<div class="modal-body">
					<div>Are you sure you want to delete your account?</div>
					<div class="form-buttons-delete evenly-spaced-button-div">
						<button id="cancel-delete-account-button" class="delete-modal-button cancel-button">Cancel</button>
						<button type="submit" form="delete-account-form" id="confirm-delete-group-button" class="delete-modal-button dangerous-button">Delete</button>
					</div>
					<form id="delete-account-form" method="post" action="/account/delete"></form>
				</div>
				<form id="delete-account-form" method="post" action="/account/delete"></form>
			</div>
		{{/if}}
	{{else}}
		<h3>ERROR</h3>
	{{/if}}
</div>
<script type="module" src="/js/account-script.js" defer></script>
