{{#if group}}
	{{#if isOwner}}
		<div class="edit-group-container content-box">
			<h1>Edit Group: {{title}}</h1>
			<form id="edit-group-form" method="post" action="/groups/edit/{{group.id}}">
				<label for="name">
					Name:
				</label>
				<input name="name" type="text" value="{{group.name}}" maxlength={{groupNameLength}} required>
				<label for="description">
					Description:
				</label>
				<textarea name="description" maxlength={{descriptionLength}} required>{{group.description}}</textarea>
				<label for="maxMemberCount">
					Group size:
				</label>
				<input name="maxMemberCount" type="number" value="{{group.max_member_count}}" min={{minMemberCount}} max={{maxMemberCount}} required>
				<label for="applyByDate">
					Apply-By Date:
				</label>
				<input name="applyByDate" type="date" id="edit-group-applydate" value="{{timestampToDate group.apply_by_date}}" required>
				<div class="overlay"></div>
			</form>
			<form id="cancel-group-edit" method="get" action="/groups/{{group.id}}"></form>
			<div class="group-edit-interaction-btns evenly-spaced-button-div">
				<button form="edit-group-form" id="edit-group-btn" class="group-btn ost-button">Save</button>
				<button form="cancel-group-edit" class="group-btn back-btn cancel-button">Cancel</button>
			</div>
		</div>
		<script type="module" src="/js/edit-group-script.js" defer></script>
	{{else}}
		<h1>You're not allowed to edit this group.</h1>
	{{/if}}
{{else}}
		<h1>Invalid Group.</h1>
{{/if}}
