{{#if group}}
	<h1>{{title}}</h1>
	<div id="group-div">
		<div class="description-title">
			Group Description
		</div>
		<div class="members-title">
			Members
		</div>
		<div id="group-description" class="content-box">
			{{group.description}}
		</div>
		<div id="group-member-list" class="content-box">
			{{group.owner}}
			<ul>
				{{#each members}}
					<li>{{email}}
						{{#if ../isOwner}}
							{{#if_memberIsNotGroupOwner id ../group}}
								<button data-modal-target="#kickMember-{{id}}-modal" id="kick-member-button" class="kick-member">X</button>
								<div class="modal" id="kickMember-{{id}}-modal">
									<div class="modal-header">
										<div class="title">Kick out {{email}}</div>
										<button data-close-button class="close-button">&times;</button>
									</div>
									<div class="modal-body">
										<div>Are you sure you want to remove <b>{{email}}</b> from your group?</div>
										<div class="form-buttons-delete">
											<button id="cancel-kick-member-button" class="delete-modal-button">Cancel</button>
											<button type="submit" form="kick-member-form" id="confirm-delete-group-button" class="delete-modal-button">Kick Member</button>
										</div>
										<form id="kick-member-form" method="post" action="/groups/kickOut/{{id}}/{{../group.id}}"></form>
									</div>
								</div>
							{{/if_memberIsNotGroupOwner}}
						{{/if}}
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="applicants-title">
			Applicants
		</div>
		<div id="group-application-list" class="content-box">
			<ul>
				{{#each applicants}}
					<li>{{user_email}}
						{{#if_and ../isOwner ../isNotFull}}
							<button data-modal-target="#application-{{id}}-modal" class="grp-btn view-application">View</button>
						{{/if_and}}
					</li>
				{{/each}}
			</ul>
		</div>

		{{#each applicants}}
			<div class="modal" id="application-{{id}}-modal">
				<div class="modal-header">
					<div class="title">View Application</div>
					<button data-close-button class="close-button">&times;</button>
				</div>
				<div class="modal-body">
					<form id="application-form" method="post" action="/groups/closeApplication/{{id}}/{{../group.id}}" >
						<input name="accept" type="radio" class="radio" id="accept-{{id}}" value="true" checked>
						<label for="radio-{{id}}">Accept</label>
						<input name="accept" type="radio" class="radio" id="deny-{{id}}" value="false">
						<label for="radio-{{id}}">Deny</label>
						<textarea name="description" id="group-application-description" disabled>{{text}}</textarea>
						<button type="submit" class="submit-btn">Submit</button>
					</form>
				</div>
			</div>
		{{/each}}
		<div class="overlay"></div>
		<div id="group-interaction-btns">
			{{#if isVisitor}}
				<div class="modal" id="application-modal">
					<div class="modal-header">
						<div class="title">Group Application</div>
						<button data-close-button class="close-button">&times;</button>
					</div>
					<div class="modal-body">
						<form id="application-form" method="post" action="/groups/applyTo/{{group.id}}">
							<textarea id="application-text" name="description" maxlength="200" required placeholder="add a brief summary"></textarea>
							<button type="submit" class="submit-btn">Submit</button>
						</form>
					</div>
				</div>
				<button data-modal-target="#application-modal" class="group-btn apply">Apply</button>
			{{else}}
				{{#if isOwner}}
					<button data-modal-target="#delete-group-modal" id="delete-group-button" class="delete-group-button">Delete</button>
					<div class="modal" id="delete-group-modal">
						<div class="modal-header">
							<div class="title">Delete Group</div>
							<button data-close-button class="close-button">&times;</button>
						</div>
						<div class="modal-body">
							<div>Are you sure you want to delete the group <b>{{title}}</b>?</div>
							<div class="form-buttons-delete">
								<button id="cancel-delete-group-button" class="delete-modal-button">Cancel</button>
								<button type="submit" form="delete-group-form" id="confirm-delete-group-button" class="delete-modal-button">Delete</button>
							</div>
							<form id="delete-group-form" method="post" action="/groups/delete/{{group.id}}"></form>
						</div>
					</div>
				{{else}}
				<form id="application-form" method="post" action="/groups/leave/{{group.id}}">
					<button id="leave-group-btn" class="group-btn">Leave</button>
				</form>
				{{/if}}
			{{/if}}
		</div>
	</div>
{{else}}
	<h1>NO GROUP</h1>
{{/if}}
{{#if isOwner}}<script type="module" src="/js/group-owner-script.js" defer></script>{{/if}}
