<h1>Groups</h1>
{{#each groups}}
	<article onclick="location.href='/groups/{{id}}'" class="own-group">
		<div class="group-info">
			<p>{{name}}</p>
			{{description}}
		</div>
		<div class="group-members">
			<p>{{owner}}</p>
		</div>
		<div class="group-full">
			<p>{{current_member_count}}/{{max_member_count}} Open</p>
		</div>
	</article>
{{/each}}
