{{#if}}
	<div id="group-interaction-div">
		<h1>{{title}}</h1>
		<div id="group-interaction-btns">
			<button id="leave-group-btn">Leave</button>
			<button id="delete-group-btn" disabled>Delete</button>
		</div>
	</div>
	<div id="group-div">
		<div id="group-description">
			{{group.description}}
		</div>
		<div id="groupmember-list">
			<ul>
				{{#each members}}
					<li>{{email}} <button>X</button></li>
				{{/each}}
			</ul>
		</div>
		<div id="group-applications">
			<ul>
				{{#each applicants}}
					<li>{{name}} <button data-modal-target="#application-{{id}}-modal" class="view-application">View</button></li>
				{{/each}}
			</ul>
		</div>
		<div id="additional-group-settings">

		</div>
		{{#each applicants}}
			<div class="modal" id="application-{{id}}-modal">
				<div class="modal-header">
					<div class="title">View Application</div>
					<button data-close-button class="close-button">&times;</button>
				</div>
				<div class="modal-body">
					<form id="application-form" method="post">
						<input type="checkbox" class="checkbox" id="checkbox-{{id}}">
						<label for="checkbox-{{id}}">Accept</label>
						<textarea name="description" id="group-application-description" disabled>{{text}}</textarea>
						<button type="submit" class="submit-btn">Submit</button>
					</form>
				</div>
			</div>
		{{/each}}
		<div class="overlay"></div>
	</div>
{{else}}
	<h1>NO GROUP</h1>
{{/if}}

