<h1>Groups</h1>
{{#each groups}}
	<article class="group">
		<div class="group-info">
			{{name}}
			{{description}}
		</div>
		<div class="group-members">
			<p>{{owner}}</p>
		</div>
		<div class="group-full">
			<p>{{current_member_count}}/{{max_member_count}} Open</p>
		</div>
		<div class="group-interaction">
			<form action="/groups/{{id}}" method="get">
				<button type="submit" class="grp-btn">View</button>
			</form>

			<button class="grp-btn leave">Leave</button>
			<button class="grp-btn" disabled>Delete</button>
		</div>
	</article>
{{/each}}
