<h1>{{title}}</h1>
{{#if showAllGroups}}
	<div id="create-group-div">
		<button data-modal-target="#create-group-modal" class="grp-btn ost-button create-group">Create Group</button>
	</div>
{{/if}}
	<div class="search">
		<input id="searchbar" autocomplete="off" type="text" name="search" placeholder="Search For Group Name or Owner Email...">
	</div>
{{#if showAllGroups}}
	<div class="modal" id="create-group-modal">
		<div class="modal-header">
			<div class="title">Create A Group</div>
			<button data-close-button class="close-button">&times;</button>
		</div>
		<div class="modal-body">
			<form id="create-group-form" method="post">
				<label for="create-group-name">Group name:</label>
				<input name="groupName" id="create-group-size" maxlength={{groupNameLength}} type="text" required>

				<label for="create-group-size">Group Size:</label>
				<input name="maxMemberCount" id="create-group-size" type="number" min={{minGroupMembers}} max={{maxGroupMembers}} required>

				<label for="create-group-applydate">"Apply-By"-Date:</label>
				<input name="applyByDate" id="create-group-applydate" type="date" required>

				<label for="create-group-description">Description:</label>
				<textarea name="description" id="create-group-description" maxlength={{groupDescriptionLength}} required></textarea>

				<button type="submit" class="submit-btn">Submit</button>
			</form>
		</div>
	</div>
{{/if}}
<div class="overlay"></div>
{{#each groups}}
	<article onclick="location.href='/groups/{{id}}'" class="content-box group">
		<div class="group-info">
			<h3 class="content-title">{{name}}</h3>
			<p class="group-description">{{description}}</p>
		</div>
		<div class="group-members group-attributes">
			<p class="group-owner group-details"><i class="material-icons icon">email</i> {{owner}}</p>
		</div>
		<div class="group-full group-attributes">
			<p class="group-details"><i class="material-icons icon">group</i> {{current_member_count}} / {{max_member_count}}</p>
		</div>
		<div class="group-apply-by group-attributes">
			<p class="group-details"><i class="material-icons icon">event_note</i> {{convertedDate}}</p>
		</div>
	</article>
{{/each}}
<script type="module" src="/js/grouplist-script.js" defer></script>
