<div id="login-form-div">
	<section>
		<h1>Sign Up</h1>
		<p>Registration only works for students with an OST-Email-Address (john.doe@ost.ch).</p>
		<form method="post" action="#" id="login-form">
			<label for="id-email"></label><input type="text" name="email" id="id-email"
				placeholder="Enter Email" pattern={{emailRegex}} autocomplete="off">
			<label for="id-password"></label><input type="password" name="password" id="id-password"
				placeholder="Enter Password" maxlength="{{maxPasswordLength}}" minlength="{{minPasswordLength}}">
			<label for="id-password"></label><input type="password" name="passwordConfirmation" id="id-passwordConfirmation"
				placeholder="Confirm Password" maxlength="{{maxPasswordLength}}" minlength="{{minPasswordLength}}">
		</form>
		<div id="register-buttons">
			<button class="button" form="login-form" id="verify-button" type="submit">Send Verification Email</button>
			<a class="button" href="/account/login" id="cancel-verification">Cancel</a>
		</div>
	</section>
</div>
<script type="text/javascript" src="/js/register-script.js" defer></script>
