<h1>Subjects</h1>
<ul>
	<form action="/subjects/add" method="post">
		<label for="abbr">Abbreviation:</label>
		<input type="text" id="abbr" name="abbr">
		<label for="subName">Subject:</label>
		<input type="text" id="subName" name="subName">
		<button type="submit" id="loadSubjects">Save Subject</button>
	</form>
	<form action="/subjects" method="post">
		<button type="submit" id="loadSubjects">Load Subjects</button>
	</form>
</ul>
{{#each subjects}}
		<!-- <li>{{id}} | {{abbreviation}} | {{name}}</li> -->
		<article class="subject">
			<div class="subject-description">
				<a class="link" href="/subjects/{{abbreviation}}">
					<h3 class="subject-name">
						<em class="abbreviation">{{abbreviation}}</em>
            			{{name}}
					</h3>
				</a>
            </div>
		</article>
{{/each}}
